.containerCenter {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaderContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    /* Opcional: fundo escuro */
}

.loader {
    border: 8px solid var(--cinza2);
    /* Cor de fundo do loader */
    border-top: 8px solid var(--main);
    /* Cor da parte giratória */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    /* Animação infinita */
}

/* Animação de rotação */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main {
    padding: 50px 40px;
    height: 100vh;
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
    flex-direction: column;

    overflow-x: hidden;
}

.header {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}


.album {
    padding: 0;

    width: 100%;

    column-count: 5;
    column-gap: 10px;

    img {
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

.headeresquerda {
    h1 {
        font-size: 50px;
        font-weight: 700;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        width: 400px;
        color: #00000083;
        margin-top: 5px;
        cursor: pointer;
    }
}

.headermeio {
    display: flex;
    flex-direction: column;

    a {
        font-size: 35px;
        font-weight: 600;
        cursor: pointer;
    }

    a:hover {
        color: #00DCB2;
    }
}

.headerdireita {
    text-align: satrt;

    p {
        font-size: 17px;

    }

    .headeremail {
        font-weight: 500;
    }
}



@media (max-width: 1250px) {
    .album {
        column-count: 3;
    }
}

@media (max-width: 1000px) {
    .album {
        column-count: 2;
    }
}

@media (max-width: 850px) {
    .header {
        padding: 0px 0px;
    }

    .main {
        padding: 50px 15px;
    }

}

@media (max-width: 870px) {
    .header {
        padding: 0px 0px;
        flex-direction: column;

        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .main {
        padding: 50px 15px;
    }

    .headerdireita{
        p{
            font-weight: 500;
        }
    }

    .headeresquerda {
        h1 {
            font-size: 30px;
            font-weight: 700;
        }
    
        p {
            font-weight: 500;
            font-size: 15px;
            width: 90%;
            color: #00000083;
            margin-top: 5px;
            cursor: pointer;
        }
    }

}